html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

.gap-10 {
  gap: 10px;
}

.element {
  background-color: #e8e8e8;
  border: 1px solid black;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  width: 75%;
  height: 100vh;
  justify-items: center;
  align-items: center;

  .anim-1 {
    max-height: 75vh;
    height: 100px;
    flex-grow: 1;
  }
}

.debug {
  border: 1px solid red;
}
